.pop-up {
   position: absolute;
   z-index: 2;
   background-color: rgba(255, 255, 255, .96);
   width: 100vw;
   min-height: 100vh;
   display: none;

   @media screen and (min-width: $screen-xs) and (max-width: $screen-md) {
      background-color: rgba(255, 255, 255, 1);
   }

   @media screen and (min-width: $screen-xl) {
      display: inline;
      width: 306px;
   } 
   
   &__menu {
      min-height: 100vh;
      padding-left: 16px;
      font-size: $font-size--link;
      line-height: $line-height--btn;
      width: 320px;
      display: none;
      -webkit-box-sizing:border-box;
              box-sizing:border-box;
      background-color: $color-secondary;

      @media screen and (min-width: $screen-xs){
         width: 360px;
         padding-left: 24px;
      }

      @media screen and (min-width: $screen-xs) {
         padding-left: 24px;
         width: 320px;
         -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
                 box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
      }

      @media screen and (min-width: $screen-xl) {
         -webkit-box-shadow: none;
         box-shadow: none;
         width: 306px;
         position: absolute;
         display: inline;
         opacity: 1;   
      }

      --visible {
         display: none;

         @media screen and (min-width: $screen-xl) {
            display: inline;
         }   
      }
   } 

   &__footer-buttons {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 520px;
      margin-right: 0;
      margin-left: 16px;
      z-index: 12;

      @media screen and (min-width: $screen-xs) {
         margin-left: 24px;
      }

      @media screen and (min-width: $screen-md) {
         margin-left: 24px;
         top: 810px;
      }      

      @media screen and (min-width: $screen-xl) {
         margin-left: -282px;
         top: 810px;
      }    
   }

   &__header {
      position: relative;
      height: 87px;
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
         -ms-flex-pack: justify;
            justify-content: space-between;
      align-content: center;
      -o-box-sizing: border-box;
      -webkit-box-sizing: border-box;
            box-sizing: border-box;

      @media screen and (min-width: $screen-md) {
         margin-right: 8px;
      }

      @media screen and (min-width: $screen-xl) {
         justify-content: flex-end;
         margin: 16px 16px 0 0;
      }
   }

   &__link {
      font-style: normal; 
      text-decoration: none;
      color: $text-color;
      position: relative;
   }

   &__lang {
      width: 86px;
      margin-top: 40px;
   }
   
   &--display-none1440 {
      @media screen and (min-width: $screen-xl) {
         display: none;
      }
   }   
}