@font-face {
  font-family: TT Lakes;
  src: url('TTLakes/TTLakes-Medium.eot');
  src: url('TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
       url('TTLakes/TTLakes-Medium.woff') format('woff'),
       url('TTLakes/TTLakes-Medium.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: TT Lakes;
  src: url('TTLakes/TTLakes-Bold.eot');
  src: url('TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
       url('TTLakes/TTLakes-Bold.woff') format('woff'),
       url('TTLakes/TTLakes-Bold.ttf') format('truetype');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: TT Lakes;
  src: url('TTLakes/TTLakes-ExtraBold.eot');
  src: url('TTLakes/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('TTLakes/TTLakes-ExtraBold.woff') format('woff'),
       url('TTLakes/TTLakes-ExtraBold.ttf') format('truetype');
       font-weight: 900;
       font-style: normal;
}

.body {
  margin: 0;
  position: relative;
  background-color: #ffffff54;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
  width: 320px;
  height: 1024px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }  

 /*верхнее меню с иконками и логотипом*/

.menu {
  position: relative;
  height: 87px;
  background-color: #FFFFFF;
}

.menu--border {
  border-bottom: 1px solid #FFFFFF;
}

.menu__row {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-between;
 
}

.menu__column {
  align-self: center;
  display: flex;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF3E79;
  position: relative;
  display: flex;
}

.icon-circle__close::before,
.icon-circle__close::after {
  position:absolute;
  align-self: center;
  content:"";
  width: 10.87px;
  height: 10.87px;
  border-top: 2.17px solid rgb(255, 255, 255);
  border-left: 2.17px solid rgb(255, 255, 255);
  left:20px;
}

.icon-circle__close::before {
  top:21.09px;
  transform-origin: 0% 0%;
  transform: rotate(225deg);  
}

.icon-circle__close::after {
  top:18.91px;
  transform-origin: 0% 0%;
  transform: rotate(45deg);
}

.menu__column--position {
  margin-right: 62px;
}

.icon-circle__img {
  margin: auto;
}

.menu-page {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;  
}

.menu-page__size {
  height: 701px;
}

.menu-page__before {
 position: absolute;
 left:-24px;
 top: 28px;
  width: 4px;
  height: 32px;
  border-radius: 0px 6px 6px 0px;
  background-color: #41F6D7;
  margin-top: 0px;
  margin-left: 0px;
}

.menu-page__item {
  margin-top: 32px;
}

.menu-page__item:hover {
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
  opacity: 0.7;
  cursor: pointer;
}

.menu-page__item:focus {
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
  color: #757474;
  font-weight: bold;
}

.icon-circle__message {
  width: 20px;
  height: 15px;
  background-color: #FFFFFF;
  border-radius:2px 2px 2px 0; 
}

.icon-circle__message::before,
.icon-circle__message::after {
  position: absolute;
  border-top: 2px solid #FF3E79;
  content: "";
  border-radius: 2px;
  left: 14px;
}

.icon-circle__message::before {
  width: 12px;
  top: 16px;
}

.icon-circle__message::after {
  width: 8px;
  top: 21px;
}

.icon-circle__message-tail,
.icon-circle__message-tail::before {
  position: absolute;
  width: 4px;
}

.icon-circle__message-tail {
  background-color: #FFFFFF;
  top: 27px;
  height: 5px;
}

.icon-circle__message-tail::before {
  content: "";
  background-color: #FF3E79;
  height: 7px;
  top:20%;
  left: 1px;
  transform: rotate(41deg);
}

.body-nav {
  width: 152px;
} 

.menu-page__lang {
  width: 86px;
  margin-top: 40px;
}

.menu-page__item--none-decor {
  text-decoration: none;
  color: #1B1C21;
  font-style: normal;
}


.menu-page__item--bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: TT Lakes;
}

.button:active {
  color: #949494f2;
  font-weight: 900;
}
