.cards {
   padding-bottom: 50px;
   padding-left: 16px;
   position: relative;
 
   @media screen and (min-width: $screen-md) {
      padding-left: 24px;
      padding-bottom: 32px;
   }
 
   @media screen and (min-width: $screen-lg) {
      padding-left: 32px;
   }

   &__header {
      @include sizes-border-color(80px, auto, none, none, $text-color--muted, linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%));
      background: -o-linear-gradient(left, #F8F8F8 0%, #FFFFFF 98.61%);
      background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
      border-top: 1px solid $border-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -o-box-sizing: border-box;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-left: -16px;
      padding-left: 16px;

      @media screen and (min-width: $screen-md) {
         height: 56px;
         margin-left: -24px;
         padding-left: 24px;
     }
   }
    
   &__h1 {
      @include font(inherit, $font-size--link, $line-height--btn, -0.2px);
      font-family: $font-family;
      text-transform: uppercase;
   }

   &__slider-container {
      position: relative;

      @media screen and (min-width: $screen-md) {
         max-height: 184px;
         position: relative;
         overflow: hidden;
      }
      
      @media screen and (min-width: $screen-lg) {
         margin-bottom: 16px;
         margin-left: -32px;
         padding-left: 32px;
      }
   
      &--show-all {
         max-height: 500px;
      }

      &--table {
         @media screen and (min-width: $screen-md) {
            max-height: 388px;
            margin-right: 24px;
         }

         @media screen and (min-width: $screen-lg) {
            margin-right: 32px;
         }

         &:before,
         &:after {
            @media screen and (min-width: $screen-md) {
               @include psevdo-el(290px, 16px);
               position: absolute;
               background-color: $color-secondary;
               z-index: 2;
               bottom: 10px;      
            }
         }
         
         &:after {
            @media screen and (min-width: $screen-md) {
               content: '';
               right: 0;
            }
         }
      }
   }

   &__brand {
      @include sizes-border-color(72px, 240px, 1px solid $color-secondary, 6px, $text-color, $color-secondary);
      font-style: normal; 
      text-decoration: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 16px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      @media screen and (min-width: $screen-md) {
         margin-right: 24px;
         margin-bottom: 16px;
      }
      
      @media screen and (min-width: $screen-lg) {
         margin-right: 32px;
      }
      
      @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
         width: 224px;
      }
            
      &:hover {
         @extend %btn-hover;
      }

      &:focus {
         -webkit-transition: 0.2s;
         -o-transition: 0.2s;
         transition: 0.2s;
         color: $grey-darknest;
         font-weight: $font-weight--bold;
      }

      &:after {
         @include psevdo-el(40px, 40px);
         position: absolute;
         right: 0;
         bottom: 0;
         margin: 0 16px 16px 0;
         -webkit-box-sizing: border-box;
                box-sizing: border-box;
         border: 2px solid $btn-color;
         border-radius: 20px;
      }
      
      &:before {
         @include psevdo-el(8px, 8px);
         @include button--arrow(2px solid $btn-color, 45deg);
         right: 0;
         bottom: 0;
         margin: 0 32.5px 32px 0;
      }
      
      &--height160 {
         @include font(inherit, $font-size--link, $line-height--btn, -0.2px);
         height: 160px;   
         padding-top: 16px;
         -webkit-box-align: flex-start;
         -ms-flex-align: flex-start;
             align-items:flex-start;
      }
   }

   &__price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items:flex-start;
      @include font(inherit, $font-size, $line-height--table, 0.2px);
      @include sizes-border-color(200px, 260px, 1px solid $color-secondary, 6px, inherit, $color-secondary);
      font-style: normal;
      padding: 16px 0 0 16px; 

      @media screen and (min-width: $screen-md) {
         height: 64px;
         width: 100%;
         border: none;
         border-bottom: 1px solid $color-secondary;
         margin: 0;
         -webkit-box-align: center;
         -ms-flex-align: center;
          align-items:center;
         padding-top: 0;
      }
   }
   
   &__price-th {
      line-height: $line-height--small;
      color: $text-color--muted;
      opacity: 0.72;
   }
   
   &__price-td {
      padding-bottom: 16px;

      @media screen and (min-width: $screen-md) {
         display: inline-block;
         padding-bottom: 0;
      }
     
      &--position {
         @media screen and (min-width: $screen-md) {
            position: absolute;
            margin-top: -62px;
         }
      }

      &--width52per {
         @media screen and (min-width: $screen-md) {
            width: 49vw;
         }

         @media screen and (min-width: $screen-xl) {
            width: 35vw;
         }
      }
      
      &--width13per {
         @media screen and (min-width: $screen-md) {
            width: 12vw;
         }

         @media screen and (min-width: $screen-xl) {
            width: 13vw;
         }
      }
   }
       
   &__price-text {
      max-width: 421px;
   }

   &__price-visibility {
      @media screen and (min-width: $screen-md) {
      display: none;
     }
   }
}