.modal-window {
   position: absolute;
   z-index: 13;
   background-color: rgba(255, 255, 255, .96);
   width: 100vw;
   height: auto;
   right: 0;
   display: none;

   &__aside {
      float: right;
      padding: 24px 16px 0 16px;
      font-size: $font-size--link;
      line-height: $line-height--btn;
      width: auto;
      min-width: 320px;
      background-color: $color-secondary;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;

      @media screen and (min-width: 440px) {
         float: right;
         padding: 24px 32px 0 32px;
         width: 440px;
         height: 100vh;
         min-height: 1050px;
         -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
         16px 0px 52px rgba(14, 24, 80, 0.2);
                 box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
         16px 0px 52px rgba(14, 24, 80, 0.2);
         border-left: 1px solid $border-color;
      }
   }
   
   &__title {
      display: inline-block;
      @include font($font-weight--boldest, $font-size--h1, $line-height--h1, -0.6px);
      position: relative;
      margin-top: 12px;

      &::before {
         @include psevdo-el(40px, 3px);
         position: absolute;
         left: 0;
         border-radius: 0 6px 6px 0;
         background-color: $color-success;
         margin: -8px 0 0 -16px;

         
         @media screen and (min-width: 440px) {
            margin: 0 0 0 -32px;
         }
      }
   }

   &__form {
      position: relative;
      height: auto;
   }

   &__input {
      display: block; 
      -webkit-box-sizing: border-box; 
              box-sizing: border-box;
      margin: 0 0 16px 0;
      width: 100%;
      height: 48px;
      padding-left: 16px;
      border: 1px solid $grey-lighter;
      border-radius: 8px;
   }
   
   &__textarea {
      display: block; 
      -webkit-box-sizing: border-box; 
              box-sizing: border-box;
      margin: 0 0 16px 0;
      width: 100%;
      height: 118px;
      padding: 12px 0 0 16px;
      border: 1px solid $grey-lighter;
      border-radius: 8px;
   }
   
   &__text {
      font-size: $font-size;
      line-height: $line-height--small;
      color: $text-color--muted;
   
      &--red {
         color: $btn-color;
      }
   }
} 



 
 


 






