.swiper-wrapper {
   margin: 0;
   padding: 0;
   padding-top: 16px;

   @media screen and (min-width: $screen-md) {
      padding-top: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack:justify;
          -ms-flex-pack:justify;
              justify-content:space-between;
   }

   &--indent {
      margin-bottom: 50px;

      @media screen and (min-width: $screen-md) {
          margin-top: 40px;
        } 
         
   } 
}

.swiper-slide {
   width: 240px;
   list-style-type: none;

   @media screen and (min-width: $screen-md) {
      width: auto;
   }
}
 
.swiper-slide--width260 {
   width: 260px;

   @media screen and (min-width: $screen-md) {
      height: 64px;
      width: 100%;
      display: block;
   }
} 
 
.swiper-pagination {
   position: absolute;
   bottom: 0;
   margin-bottom: -45px;
}
 
.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background-color: $grey-light;
}
 
:root {
   --swiper-theme-color: $grey;
}