.arrow {
  background-color: #F8F8F8;
  stroke: #41F6D7;
  stroke-width: 1.5px;
  width: 27px;
  height: 11px;
}

.arrow--up {
  transform: rotate(180deg);
}

.arrow--position {
  margin-left: -7px;
}

@media screen and (min-width: 768px) {
  .arrow--position {
    margin-left: 0;
  }
}

@media screen and (min-width: 1120px) {
  .arrow--position {
    margin-left: 6px;
  }
}