.body {
  width: auto;
  height: auto;
  background: #FFFFFF;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.body--mobile320 {
  width: 320px;
  padding-left: 24px;
  padding-right: 8px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.body--grey {
  background-color: #F8F8F8;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .body--mobile320 {
    width: 360px;
  }
}
