.menu {
  position: relative;
  height: 87px;
  width: auto;
  display: flex;
  justify-content: space-between;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.menu--border {
  border-bottom: 1px solid #D9FFF5;
}

.menu--indent {
  padding-left: 16px;
  padding-right: -16px;
}

@media screen and (min-width: 1440px) {
  .menu--indent {
    padding-left: 30px;
    padding-right: 14px;
  }
}

.menu__1120 {
  display: flex;
  justify-content: flex-end;
}

.menu__1120--visibility {
    display: none;
  }

@media screen and (min-width: 1120px) {

  .menu {
    visibility: hidden;
    margin-bottom: -88px;
  }

  .menu__1120 {
    visibility: visible;
    position: absolute;
    left: 100%;
    bottom: 8px;
    margin-left: -410px;
    z-index: 10;
  }

  .menu__1120--visibility {
    display: inline;
  }
}

.menu__column {
  display: flex;
  padding-right: 16px;
  align-self: center;

}

.menu::before,
.menu::after {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -16px;
}

.menu::after {
  left: 100%; 
  margin-left: -148px;
}

.menu::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu::after {
    margin-left: -151px;
  }

@media screen and (min-width: 768px) {
  .menu::before {
    display: block;
    left: 78px;
    margin-right: 20px;
  }

  .menu__divider--position {
    margin-left: 28px;
  }
}

@media screen and (min-width: 1120px) {
  .menu__divider--position {
    margin-left: 0px;
  }
}