.page-menu {
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.page-menu__mobile320 {
  height: 713px;
  border-top: 1px solid #FFFFFF;
  padding-left: 24px;
}

.page-menu__list {
  position: relative;
  padding: 0;
  list-style: none;  
}

.page-menu__item--active::before {
content: '';
position: absolute;
left: 0px;
top: -4px;
width: 4px;
height: 32px;
border-radius: 0px 6px 6px 0px;
background-color: #41F6D7;
margin: 0px 0px 0px -24px;
}

.page-menu__item {
  margin-top: 32px;
}

.page-menu__item--decoration {
  text-decoration: none;
  color: #1B1C21;
}

.page-menu__item--decoration:hover {
  transition: 0.5s;
  opacity: 0.7;
  cursor: pointer;
}

.page-menu__item--decoration:focus {
  transition: 0.2s;
  transform: scale(1.2);
  color: #757474;
  font-weight: bold;
}

.page-menu__lang {
  width: 86px;
  margin-top: 40px;
}

.page-menu__item--bold {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

