.slider-brand-card-wrapper {
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .slider-brand-card-wrapper {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}